
@for (libro of libros; track libro.Id) {
  <div class="card-container" (mouseover)="show(libro)" (mouseout)="hide()">
    <div class="card" [ngClass]="{'flipped': selectedLibro === libro}">
      <div class="card-inner">
        <div class="card-front">
          <div class="card-image">
            <img [src]="libro.Imagen" [alt]="libro.Imagen">
          </div>
        </div>
        <div class="card-back">
          <div class="card-content">
            <div class="card-description">
              <h4>ISBN: {{libro.Isbn}}</h4>
              <h4>Autor: {{libro.Autor}}</h4>
              <h4>Edicion: {{libro.Edicion}}</h4>
              <h4>Precio: {{libro.Precio}}</h4>
              <h4>Stock: {{libro.Cantidad}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card-title">{{libro.Nombre}}</div>
    </div>
  </div>
  
}

<div class="btn-libro">
  <button pButton label="Nuevo Libro" icon="pi pi-plus" class="p-button-success" [routerLink]="['/main/crear-libro']"></button>
</div>