<form [formGroup]="FormsFormato" class="my-form" (ngSubmit)="submit$.next()">
    <div class="info-form">
        <label aria-required="true" for="nombre">Nombre </label>
        <input pInputText id="nombre" type="text" formControlName="nombre">
        <span class="error-message"
            *ngIf="FormsFormato.get('nombre')?.touched && this.FormsFormato.get('nombre')?.errors?.['required']">
            El Nombre no puede estar vacío
        </span>
    </div>
    <div class="info-buttons">
        <button type="submit">Confirmar</button>
    </div>
</form>