<!-- <nav>
    <a routerLink="/main">Home</a>
    <a routerLink="/main/libro">Libro</a>
    <a routerLink="/main/autor">Autor</a>
    <a routerLink="/main/tema">Tema</a>
</nav> -->

<!-- <app-barra-cierre></app-barra-cierre> -->
<div class="dock-window">
    <app-bread-crum></app-bread-crum>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <app-barra-navegacion></app-barra-navegacion>
</div>

<!-- <div class="pruebasDiv">
<label>Coger datos </label>
<input type="text" [value]="pista" />
<p>
<br>
<input [(ngModel)]="nuevoMensaje" placeholder="Nuevo Mensaje">
<button (click)="setString()">Cambiar Mensaje</button>
</p>
</div>

<div class="pruebasDiv">
    <label>{{contador}} </label>
    <br><br>
    <button (click)="incrementarContador()">incrementar Contador</button>
    <button (click)="decrementarContador()">Decrementar Contador</button>
    <br><br>
    <input [(ngModel)]="contador" placeholder="Valor Contador">
</div> -->
