<form [formGroup]="FormsLibro" class="my-form" (submit)="onSubmit()">
  <div class="imagen-form">
    <img *ngIf="FormsLibro.get('imagen')?.value" [src]="FormsLibro.get('imagen')?.value" alt="Imagen Previa Libro">
  </div>
  
  <p-toast position="top-center"></p-toast>
  
  <div class="info-container">
    <div class="info-form">
      <label for="isbn">Isbn: </label>
      <input pInputText id="isbn" type="text" formControlName="isbn">
      <span class="error-message" *ngIf="FormsLibro.get('isbn')?.touched && FormsLibro.get('isbn')?.errors?.['required']">
        El ISBN no puede estar vacío
      </span>
      <span class="error-message" *ngIf="FormsLibro.get('isbn')?.touched && FormsLibro.get('isbn')?.errors?.['minlength']">
        El ISBN debe tener 13 caracteres
      </span>
      <span class="error-message" *ngIf="FormsLibro.get('isbn')?.touched && FormsLibro.get('isbn')?.errors?.['maxlength']">
        El ISBN no puede tener más de 13 caracteres
      </span>
    </div>

    <div class="info-form">
      <label for="nombre">Título: </label>
      <input pInputText id="nombre" type="text" formControlName="nombre">
      <span class="error-message" *ngIf="FormsLibro.get('nombre')?.touched && this.FormsLibro.get('nombre')?.errors?.['required']">
        El Título no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="autor">Autor: </label>
      <p-dropdown [options]="autores" formControlName="autor" optionLabel="Nombre" placeholder="Seleccione un Autor" [filter]="true" filterBy="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="FormsLibro.get('autor')?.touched && this.FormsLibro.get('autor')?.errors?.['required']">
        El Autor no puede estar vacío
      </span>
    </div>
  
    <div class="info-form">
      <label for="edicion">Edición: </label>
      <p-dropdown [options]="edicion" formControlName="edicion" optionLabel="Nombre" placeholder="Seleccione una Edición" [filter]="true" filterBy="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="FormsLibro.get('edicion')?.touched && this.FormsLibro.get('edicion')?.errors?.['required']">
        La Edición no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="formato">Formato: </label>
      <p-dropdown [options]="formato" formControlName="formato" optionLabel="Nombre" placeholder="Seleccione un Formato" [filter]="true" filterBy="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="FormsLibro.get('formato')?.touched && this.FormsLibro.get('formato')?.errors?.['required']">
        El Formato no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="tema">Tema: </label>
      <p-dropdown [options]="temas" formControlName="tema" optionLabel="Nombre" placeholder="Seleccione un Tema" [filter]="true" filterBy="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="FormsLibro.get('tema')?.touched && this.FormsLibro.get('tema')?.errors?.['required']">
        El Tema no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="precio">Precio: </label>
      <p-inputNumber id="precio" [maxFractionDigits]="2" formControlName="precio" mode="currency" currency="EUR"></p-inputNumber> 
      <span class="error-message" *ngIf="FormsLibro.get('precio')?.touched && this.FormsLibro.get('precio')?.errors?.['min']">
        El precio debe ser mayor a 0
      </span>
    </div>

    <div class="info-form">
      <label for="cantidad">Cantidad: </label>
      <p-inputNumber id="cantidad" formControlName="cantidad" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"> </p-inputNumber>

      <span class="error-message" *ngIf="FormsLibro.get('cantidad')?.touched && this.FormsLibro.get('cantidad')?.errors?.['min']">
        La cantidad no es correcta
      </span>
    </div>

    <div class="info-form">
      <label for="imagen">URL Imagen: </label>
      <input pInputText id="imagen" type="text" formControlName="imagen">
      <span class="error-message" *ngIf="FormsLibro.get('imagen')?.touched && this.FormsLibro.get('imagen')?.errors?.['required']">
        La imagen no puede estar vacía
      </span>
    </div>
    
    <button type="submit">Guardar Libro</button>
  </div>
  
</form>
