<form [formGroup]="FormsLibro" class="my-form" (submit)="guardarLibro()">
  <div class="imagen-form">
    <img *ngIf="FormsLibro.get('imagen')?.value" [src]="FormsLibro.get('imagen')?.value" alt="Imagen Previa Libro">
  </div>

  <div class="info-container">
    <div class="info-form">
      <label for="isbn">Isbn: </label>
      <input pInputText id="isbn" type="text" formControlName="isbn">
      <span class="error-message" *ngIf="FormsLibro.get('isbn')?.errors?.['required']">
        El ISBN no puede estar vacío
      </span>
      <span class="error-message" *ngIf="FormsLibro.get('isbn')?.errors?.['minlength']">
        El ISBN debe tener al menos 13 caracteres
      </span>
      <span class="error-message" *ngIf="FormsLibro.get('isbn')?.errors?.['maxlength']">
        El ISBN no puede tener más de 13 caracteres
      </span>
    </div>

    <div class="info-form">
      <label for="nombre">Título: </label>
      <input pInputText id="nombre" type="text" formControlName="nombre">
      <span class="error-message" *ngIf="this.FormsLibro.get('nombre')?.errors?.['required']">
        El Título no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="autor">Autor: </label>
      <p-dropdown [options]="autores" formControlName="autor" placeholder="Seleccione un Autor" optionLabel="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="this.FormsLibro.get('autor')?.errors?.['required']">
        El Autor no puede estar vacío
      </span>
    </div>
  
    <div class="info-form">
      <label for="edicion">Edición: </label>
      <p-dropdown [options]="autores" formControlName="edicion" placeholder="Seleccione una Edición" optionLabel="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="this.FormsLibro.get('edicion')?.errors?.['required']">
        La Edición no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="formato">Formato: </label>
      <p-dropdown [options]="autores" formControlName="formato" placeholder="Seleccione un Formato" optionLabel="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="this.FormsLibro.get('formato')?.errors?.['required']">
        El Formato no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="tema">Tema: </label>
      <p-dropdown [options]="temas" formControlName="tema" placeholder="Seleccione un Tema" optionLabel="Nombre"></p-dropdown>
      <span class="error-message" *ngIf="this.FormsLibro.get('tema')?.errors?.['required']">
        El Tema no puede estar vacío
      </span>
    </div>

    <div class="info-form">
      <label for="precio">Precio: </label>
      <p-inputNumber inputId="locale-us" id="precio" mode="decimal" locale="en-US" [maxFractionDigits]="2" formControlName="precio"></p-inputNumber> 
      <span class="error-message" *ngIf="this.FormsLibro.get('precio')?.errors?.['min']">
        El precio debe ser mayor a 0
      </span>
    </div>

    <div class="info-form">
      <label for="cantidad">Cantidad: </label>
      <input pInputText id="cantidad" type="number" formControlName="cantidad">
      <span class="error-message" *ngIf="this.FormsLibro.get('cantidad')?.errors?.['min']">
        La cantidad no es correcta
      </span>
    </div>

    <div class="info-form">
      <label for="imagen">URL Imagen: </label>
      <input pInputText id="imagen" type="text" formControlName="imagen">
      <span class="error-message" *ngIf="this.FormsLibro.get('imagen')?.errors?.['required']">
        La imagen no puede estar vacía
      </span>
    </div>
  </div>
  
  <button type="submit" [disabled]="FormsLibro.invalid">Guardar Libro</button>
</form>
