/* :host ::ng-deep .p-dock-list { 
    border: 0.5px rgb(129, 129, 129); 
    border-style: solid; 
    border-radius: 20px; 
    padding: 5px;
    box-shadow: 4px 4px 4px rgb(104, 104, 104); 
  } */
