<app-barra-cierre></app-barra-cierre>
<p-button class="btn-New" label="Nuevo Formato" icon="pi pi-plus" size="small" severity="success" (onClick)="newDialog()"></p-button>
<p-toast position="top-center"></p-toast>
@for (formato of formatos; track formato.Id) {
    <div class="info">
        {{formato.Nombre}}
        <div class="info-buttons">
            <p-button label="Editar" icon="pi pi-user-edit" size="small" (onClick)="updateDialog(formato.Id)"></p-button>
            <p-button label="Eliminar" icon="pi pi-trash" severity="danger" size="small" (onClick)="deleteFormato(formato.Id)"></p-button>
        </div>
    </div>
}